<link rel="stylesheet" href="/css/home.css">
{{#if search}}
    <h1>Voce Procura por: <span class="pensamento">{{search}}</span></h1>
    {{#if thoughtsqnt}}
        <p class="result">Foram Encontrado <span class="pensamento">{{thoughtsqnt}}</span> resultados</p>
    {{else}}
        <p class="result">Nenhum Resultado Encontrado</p>
    {{/if}}
{{else}}
    <h1>Conheça alguns dos nossos <span class="pensamento">Pensamentos</span></h1>
{{/if}}
    <div class="busca">
        <form>
                <input type="text" name="search" placeholder="Está Procurando Algo?">
                <button type="submit">Buscar</button>
        </form>
    </div>
    <div class="order-container">
        <span>Odernar Por: </span>
        <form>
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit"><i class="bi bi-arrow-up"></i><span>Mais Novos</span></button>
        </form>
        <form>
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit"><i class="bi bi-arrow-down"></i><span>Mais Antigos</span></button>
        </form>
        <a href="/thoughts">Limpar</a>
    </div>
<div class="thought-content">
{{#each AllThoughts}}
        <div class="text">
            <h2 class="titulo">"{{this.title}}"</h2>
            <p>Por:<span class="user"> {{this.User.name}}</span></p>
        </div>
{{/each}}
</div>